@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
  
    <h2><span style="color:#808080;"><i>Online </i></span>Exam System</h2>
</div>

@using (Html.BeginForm("Instruction", "Home", FormMethod.Post))
{

<div class="container">
    <div class="row form-horizontal">

        <div class="form-group">
            <div class="col-md-3">@Html.Label("Select Test")</div>
            <div class="col-md-5">@Html.DropDownList("wdjhbdkjwe",new SelectList(ViewBag.Tests,"Id","Name"),"--Select Test--")</div>
        </div>
        <div class="form-group">
            <div class="col-md-3">@Html.Label("Enter Name")</div>
            <div class="col-md-5">@Html.TextBox("wdhbiujh")</div>
        </div>
        <div class="form-group">
            <div class="col-md-3">@Html.Label("Enter Email")</div>
            <div class="col-md-5">@Html.TextBox("wdhbiujh")</div>
        </div>
        <div class="form-group">
            <div class="col-md-3">@Html.Label("Enter Phone")</div>
            <div class="col-md-5">@Html.TextBox("wdhbiujh")</div>
        </div>

        <div class="form-group">
            <div class="col-md-3"></div>
            <div class="col-md-5"><input type="button" value="Submit" /></div>
        </div>
    </div>
    </div>

}
